## Exercise 0 Task 0:  Car sales in Norway - emissions and trends

### In this exercise, work with this dataset norway_new_car_sales_by_month.csv

### a) Do some EDA with info, find out column names, shape of dataset, describe method to get summary descriptive statistics.

In [5]:
import pandas as pd

df_sales_monthly = pd.read_csv("data/norway_new_car_sales_by_month.csv")
df_sales_monthly.head()

,Year,Month,Quantity,Quantity_YoY,Import,Import_YoY,Used,Used_YoY,Avg_CO2,Bensin_Co2,Diesel_Co2,Quantity_Diesel,Diesel_Share,Diesel_Share_LY,Quantity_Hybrid,Quantity_Electric,Import_Electric
0,2007,1,12685,5227,2276,257,NaN,NaN,152,155,152,10072,79.4,52.5,NaN,NaN,NaN
1,2007,2,9793,2448,1992,-89,NaN,NaN,156,159,155,7222,73.7,47.4,NaN,NaN,NaN
2,2007,3,11264,1445,2626,45,NaN,NaN,159,161,158,7965,70.7,48.1,NaN,NaN,NaN
3,2007,4,8854,504,2220,-130,NaN,NaN,160,165,158,6116,69.1,48.4,NaN,NaN,NaN
4,2007,5,12007,1592,2881,7,NaN,NaN,160,163,159,8519,71.0,49.1,NaN,NaN,NaN

## Column explanations

**Basic Info About Sales**
- Year: The year when the car sales happened (e.g., 2020).
- Month: The month of the sales (e.g., January).

**Total Car Sales (New + Used Imports)**
- Quantity: How many new cars were sold in Norway that month.
- Quantity_YoY: How this number changed compared to the same month last year. (YoY = Year-over-Year)

**Used Cars Imported to Norway**
- Import: How many used cars were imported from other countries into Norway that month.
- Import_YoY: Change in imported used cars compared to the same month last year.

**Used Cars Sold Inside Norway**
- Used: Number of used cars sold within Norway (ownership change inside the country). Available from 2012 onwards.
- Used_YoY: Change in domestic used car sales compared to the same month last year.

**CO2 Emissions (grams per km)**
- Avg_CO2: Average CO2 emissions from all cars sold in that month.
- Bensin_CO2: Average CO2 emissions from gasoline (bensin) cars sold.
- Diesel_CO2: Average CO2 emissions from diesel cars sold.

**Diesel Car Data**
- Quantity_Diesel: How many diesel cars were sold.
- Diesel_Share: What percentage of all car sales were diesel that month.
- Diesel_Share_LY: Diesel share of total sales in the same month last year (for comparison).

**Electric & Hybrid Vehicles**
- Quantity_Hybrid: Number of new hybrid cars sold (includes both plug-in hybrids and regular hybrids).
- Quantity_Electric: Number of new fully electric cars sold.
- Import_Electric: Number of used electric cars imported into Norway.

In [7]:
df_sales_monthly.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121 entries, 0 to 120
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Year               121 non-null    int64
 1   Month              121 non-null    int64
 2   Quantity           121 non-null    int64
 3   Quantity_YoY       121 non-null    int64
 4   Import             121 non-null    int64
 5   Import_YoY         121 non-null    int64
 6   Used               61 non-null     float64
 7   Used_YoY           49 non-null     float64
 8   Avg_CO2            121 non-null    int64
 9   Bensin_Co2         121 non-null    int64
 10  Diesel_Co2         121 non-null    int64
 11  Quantity_Diesel    121 non-null    int64
 12  Diesel_Share       121 non-null    float64
 13  Diesel_Share_LY    121 non-null    float64
 14  Quantity_Hybrid    73 non-null     float64
 15  Quantity_Electric  73 non-null     float64
 16  Import_Electric    53 non-null     float64
dtypes: float64(7), int64(10)
memory usage: 16.2 KB

In [9]:
#instead of df_sales_monthly.shape 

print("Rows: {} and Columns: {}".format(*df_sales_monthly.shape))
print("Number of Nan {}".format(df_sales_monthly.isna().sum().sum()))
df_sales_monthly.fillna(0, inplace=True)

Rows: 121 and Columns: 17
Number of Nan 0

In [10]:
# Add datetime but in pandas

df_sales_monthly["Year"] = df_sales_monthly["Year"].astype(str)
df_sales_monthly["Month"] = df_sales_monthly["Month"].astype(str)

df_sales_monthly["Date"] = df_sales_monthly["Year"].str.cat(
    df_sales_monthly["Month"].str.zfill(2), sep="-"
)

In [ ]:
df_sales_monthly["Year"] = df_sales_monthly["Year"].astype(int)
df_sales_monthly["Month"] = df_sales_monthly["Month"].astype(int)
df_sales_monthly["Quantity"] = df_sales_monthly["Quantity"].astype(int)