# Exercise 2 - Interactive charting with plotly

## 1. Internet usage historical

In [3]:
#   a) Recreate this visualization using plotly, make it as close as possible to the image.
import pandas as pd

df_internet = pd.read_csv("data/share-of-individuals-using-the-internet.csv")

In [4]:
import duckdb

df_selection = duckdb.query("""--sql
    SELECT 
        Entity,
        Year,
        "Individuals using the Internet (% of population)"
    FROM df_internet
    WHERE Entity IN (
                    'East Asia and Pacific (WB)',
                    'Europe and Central Asia (WB)', 
                    'Latin America and Caribbean (WB)',
                    'Middle East and North Africa (WB)',
                    'North America (WB)',
                    'South Asia (WB)',
                    'Sub-Saharan Africa (WB)',
                    'World'  )
""").to_df()

df_selection

,Entity,Year,Individuals using the Internet (% of population)
0,Europe and Central Asia (WB),1990,0.048031
1,Europe and Central Asia (WB),1991,0.101868
2,Europe and Central Asia (WB),1992,0.180602
3,Europe and Central Asia (WB),1993,0.279651
4,Europe and Central Asia (WB),1994,0.524235
...,...,...,...
265,World,2019,53.200000
266,World,2020,59.300000
267,World,2021,62.200000
268,World,2022,64.400000
269,World,2023,67.400000