# 2. Gapminder dashboard

Use the gapminder dataset from plotly.express and create a dashboard. 
Do explorative data analysis, pick out graphs and metrics you are interested in displaying

In [1]:
import plotly.express as px

gapminder = px.data.gapminder()
gapminder.head()

,country,continent,year,lifeExp,pop,gdpPercap,iso_alpha,iso_num
0,Afghanistan,Asia,1952,28.801,8425333,779.445314,AFG,4
1,Afghanistan,Asia,1957,30.332,9240934,820.853030,AFG,4
2,Afghanistan,Asia,1962,31.997,10267083,853.100710,AFG,4
3,Afghanistan,Asia,1967,34.020,11537966,836.197138,AFG,4
4,Afghanistan,Asia,1972,36.088,13079460,739.981106,AFG,4

In [2]:
gapminder.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 8 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1704 non-null   object
 1   continent  1704 non-null   object
 2   year       1704 non-null   int64
 3   lifeExp    1704 non-null   float64
 4   pop        1704 non-null   int64
 5   gdpPercap  1704 non-null   float64
 6   iso_alpha  1704 non-null   object
 7   iso_num    1704 non-null   int64
dtypes: float64(2), int64(3), object(3)
memory usage: 106.6+ KB

In [6]:
# Filter by year (for example, 1972)
year_filter = 1972
df_filtered = gapminder[gapminder['year'] == year_filter]

In [12]:
# Group by continent, sum population, and average life expectancy
result = df_filtered.groupby('continent').agg({
    'pop': 'sum',          # total population per continent
    'lifeExp': 'mean',      # average life expectancy per continent
    'gdpPercap' : 'mean'
}).reset_index()

result

  continent         pop    lifeExp     gdpPercap
0    Africa   379879541  47.450942   2339.615674
1  Americas   529384210  62.394920   6491.334139
2      Asia  2150972248  57.319269   8187.468699
3    Europe   500635059  70.775033  12479.575246
4   Oceania    16106100  71.910000  16417.333380

In [10]:
# group over multiple years at once
result_y_range = gapminder.groupby(['year', 'continent']).agg({
    'pop': 'sum',
    'lifeExp': 'mean'
}).reset_index()

result_y_range

    year continent         pop    lifeExp
0   1952    Africa   237640501  39.135500
1   1952  Americas   345152446  53.279840
2   1952      Asia  1395357351  46.314394
3   1952    Europe   418120846  64.408500
4   1952   Oceania    10686006  69.255000
5   1957    Africa   264837738  41.266346
6   1957  Americas   386953916  55.960280
7   1957      Asia  1562780599  49.318544
8   1957    Europe   437890351  66.703067
9   1957   Oceania    11941976  70.295000
10  1962    Africa   296516865  43.319442
11  1962  Americas   433270254  58.398760
12  1962      Asia  1696357182  51.563223
13  1962    Europe   460355155  68.539233
14  1962   Oceania    13283518  71.085000
15  1967    Africa   335289489  45.334538
16  1967  Americas   480746623  60.410920
17  1967      Asia  1905662900  54.663640
18  1967    Europe   481178958  69.737600
19  1967   Oceania    14600414  71.310000
20  1972    Africa   379879541  47.450942
21  1972  Americas   529384210  62.394920
22  1972      Asia  2150972248  57.319269
23  1972    Europe   500635059  70.775033
24  1972   Oceania    16106100  71.910000
25  1977    Africa   433061021  49.580423
26  1977  Americas   578067699  64.391560
27  1977      Asia  2384513556  59.610556
28  1977    Europe   517164531  71.937767
29  1977   Oceania    17239000  72.855000
30  1982    Africa   499348587  51.592865
31  1982  Americas   630290920  66.228840
32  1982      Asia  2610135582  62.617939
33  1982    Europe   531266901  72.806400
34  1982   Oceania    18394850  74.290000
35  1987    Africa   574834110  53.344788
36  1987  Americas   682753971  68.090720
37  1987      Asia  2871220762  64.851182
38  1987    Europe   543094160  73.642167
39  1987   Oceania    19574415  75.320000
40  1992    Africa   659081517  53.629577
41  1992  Americas   739274104  69.568360
42  1992      Asia  3133292191  66.537212
43  1992    Europe   558142797  74.440100
44  1992   Oceania    20919651  76.945000
45  1997    Africa   743832984  53.598269
46  1997  Americas   796900410  71.150480
47  1997      Asia  3383285500  68.020515
48  1997    Europe   568944148  75.505167
49  1997   Oceania    22241430  78.190000
50  2002    Africa   833723916  53.325231
51  2002  Americas   849772762  72.422040
52  2002      Asia  3601802203  69.233879
53  2002    Europe   578223869  76.700600
54  2002   Oceania    23454829  79.740000
55  2007    Africa   929539692  54.806038
56  2007  Americas   898871184  73.608120
57  2007      Asia  3811953827  70.728485
58  2007    Europe   586098529  77.648600
59  2007   Oceania    24549947  80.719500