## SCB statistik

In [6]:
import pandas as pd

df = pd.read_csv('..//data/yh_scb/behoriga_sokande_YH_kurser_2020_2024.csv', encoding='ISO-8859-1')

# Show first few rows
df.head(10)

,kön,utbildningsområde MYH,ålder,år,Antal behöriga sökande till yrkeshögskolans kurser
0,totalt,Totalt,totalt,2020,7064
1,totalt,Totalt,totalt,2021,8392
2,totalt,Totalt,totalt,2022,10390
3,totalt,Totalt,totalt,2023,17642
4,totalt,Totalt,totalt,2024,21381
5,totalt,Totalt,-24 år,2020,344
6,totalt,Totalt,-24 år,2021,370
7,totalt,Totalt,-24 år,2022,357
8,totalt,Totalt,-24 år,2023,645
9,totalt,Totalt,-24 år,2024,811

In [7]:
# Rename for easier access
df = df.rename(columns={'Antal behöriga sökande till yrkeshögskolans kurser': 'behöriga sökande'})

df

         kön utbildningsområde MYH   ålder    år behöriga sökande
0     totalt                Totalt  totalt  2020             7064
1     totalt                Totalt  totalt  2021             8392
2     totalt                Totalt  totalt  2022            10390
3     totalt                Totalt  totalt  2023            17642
4     totalt                Totalt  totalt  2024            21381
...      ...                   ...     ...   ...              ...
1675     män                Övrigt  45+ år  2020               ..
1676     män                Övrigt  45+ år  2021               ..
1677     män                Övrigt  45+ år  2022               ..
1678     män                Övrigt  45+ år  2023               ..
1679     män                Övrigt  45+ år  2024               ..

[1680 rows x 5 columns]

In [3]:
df.columns = df.columns.str.strip()